[
  {
    "name": "NAME",
    "fragen": [
      {
        "frage": "A, B oder C?",
        "antworten": [
          "A",
          "B",
          "C"
        ],
        "richtig": 0
      }
    ]
  }
]