name: Adding the build artifact to the GitHub Release
on:
  release:
    types: [created]
    branches: main
jobs:
  build:
    env:
      RELEASE_FILE: pegabot-${{github.event.release.tag_name}}
    name: "Deploy to production"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js "14.x"
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - name: Install dependencies
        run: yarn install --prefer-offline
      - name: Building the Pegabot
        run: yarn build
      - name: Upload build artifacts to GitHub Actions
        uses: actions/upload-artifact@v1
        with:
          name: ${{env.RELEASE_FILE}}
          path: build
      - name: Package Release
        run: tar -zcf ${RELEASE_FILE}.tar.gz build assets package.json yarn.lock README.md Procfile .env.sample LICENSE lib
      - name: Upload Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          asset_path: ${{env.RELEASE_FILE}}.tar.gz
          upload_url: ${{github.event.release.upload_url}}
          asset_name: ${{env.RELEASE_FILE}}.tar.gz
          asset_content_type: application/octet-stream