name: Release and Deploy
on:
  release:
    types: [published]
    branches: main
jobs:
  release:
    env:
      RELEASE_FILE: pegabot-${{github.event.release.tag_name}}
      VERSION: ${{github.event.release.tag_name}}
    name: "Release"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js "14.x"
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - name: Install dependencies
        run: yarn install --prefer-offline
      - name: Inject the new version into the package.json
        run: npm version --no-git-tag-version ${VERSION}
      - name: Injecting the Build-Version into the build
        run: sh ./injectBuildVersion.sh
      - name: Injecting the Version into the build
        run: sh ./injectVersion.sh
      - name: Building the Pegabot
        run: yarn build
      - name: Upload build artifacts to GitHub Actions
        uses: actions/upload-artifact@v1
        with:
          name: ${{env.RELEASE_FILE}}
          path: build
      - name: Package Release
        run: tar -zcf ${RELEASE_FILE}.tar.gz build assets package.json yarn.lock README.md Procfile .env.example LICENSE lib
      - name: Upload Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          asset_path: ${{env.RELEASE_FILE}}.tar.gz
          upload_url: ${{github.event.release.upload_url}}
          asset_name: ${{env.RELEASE_FILE}}.tar.gz
          asset_content_type: application/octet-stream
  deploy:
    env:
      VERSION: ${{github.event.release.tag_name}}
    name: "Deploy"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: fregante/setup-git-user@v1
      - name: Inject the new version into the package.json
        run: npm version ${VERSION}
      - uses: akhileshns/heroku-deploy@v3.8.8
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "pegarobo"
          heroku_email: "nico@gruselhaus.com"